@import "./base.css";
@import "tailwindcss";
@import "primeicons/primeicons.css";

@theme {
  --color-vivid-red: #cf2e2e;
  --color-luminous-vivid-orange: #ff6900;
  --color-luminous-vivid-amber: #fcb900;
  --color-light-green-cyan: #7bdcb5;
  --color-vivid-green-cyan: #00d084;
  --color-pale-cyan-blue: #8ed1fc;
  --color-vivid-cyan-blue: #0693e3;
  --color-pale-pink: #f78da7;
  --color-vivid-purple: #9b51e0;
  --color-cyan-bluish-gray: #abb8c3;
  --color-white: #ffffff;

  --color-contrast: #333;
  --color-contrast-2: #545352;
  --color-contrast-3: #e35f1d;
  --color-base: #d3d3d3;
  --color-base-2: #f5f5f5;
  --color-base-3: #fff;
  --color-accent: #df3978;
  --color-accent-2: #16a1a2;
  --color-accent-2-1: #e6f3f3;
  --color-accent-2-2: #b3e0e0;
  --color-accent-3: #070607;

  --font-sans:
    -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

@layer base {
  body {
    font-family: var(--font-sans);
  }
}

@source inline("group-hover:-translate-x-2 group-hover:translate-x-2 group-hover:-translate-x-3 group-hover:translate-x-3 group-hover:-translate-x-4 group-hover:translate-x-4");
